Power Automate Flows/ChangeMgmtApplication-SendSponsorapprovalrequest_Flow/Microsoft.Flow/flows/022289ed-c92a-4545-a3e8-11a0b528e463/definition.json
{"name":"d28a79cb-7c40-4942-b4cd-a6684f9556b7","id":"/providers/Microsoft.Flow/flows/d28a79cb-7c40-4942-b4cd-a6684f9556b7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ChangeMgmtApplication - Send Sponsor approval request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4bbc306b-1a07-4b4e-a1a1-ac54bdac6ae5","type":"User","tenantId":"2ed27e58-4516-4f9c-a797-94374d2e74c7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-08T03:32:16.687628Z","connectionKeySavedTimeKey":"2024-10-08T03:32:16.687628Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created_with_\"At_Sponsor\"_status":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Request_is_logged":{"actions":{"Start_and_wait_for_sponsor_approval":{"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Sponsor Approval Requested","WebhookApprovalCreationInput/assignedTo":"@triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']","WebhookApprovalCreationInput/details":"---\nHi @{triggerBody()?['Sponsor_ID_x003a__x0020_FullName']?['Value']}, \nAs the sponsor, your approval is needed for a new change request.\n---\n\n### Details:\n**Requestor:** @{triggerBody()?['Requestor_ID_x003a__x0020_FullNa']?['Value']}\n**Sponsor:** @{triggerBody()?['Sponsor_ID_x003a__x0020_FullName']?['Value']}\n**Change Classification:** @{triggerBody()?['Change_Classification']?['Value']}\n**Impact Level:** @{triggerBody()?['Impact_Level']?['Value']}\n**Affected Services:** @{triggerBody()?['Affected_Services']?['Value']}\n**Change Reason:** @{triggerBody()?['Change_Reason']?['Value']}\n\n**Title:** \n@{triggerBody()?['Request_Title']}\n\n**Justification:** \n@{triggerBody()?['Request_Justification']}\n\n### Change Readiness:\n**Test Plan:** \n@{triggerBody()?['Test_Plan']}\n\n**Rollback Plan:** \n@{triggerBody()?['Rollback_Plan']}\n\n**Attachment URL:** \n@{triggerBody()?['Attachment_URL']}\n\n*Please review and take action by selecting one of the options below.  To view the full request, click the PowerApps link.*","WebhookApprovalCreationInput/itemLink":"https://apps.powerapps.com/play/e/5277150f-b052-e9a1-adaf-bf0689cdd0c0/a/706e248f-a5a4-4310-bad8-5ba90d99f4dc?requestId=@{triggerBody()?['Request_ID']}\n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Approval_Condition":{"actions":{"For_each":{"foreach":"@outputs('Start_and_wait_for_sponsor_approval')?['body']?['responses']","actions":{"Send_an_email_as_approved":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Update_Status_-_Open')?['Requestor_ID_x003a__x0020_Email']?['Value']","emailMessage/Subject":"Notification: Change Request (ID: @{body('Update_Status_-_Open')?['Request_ID']}) Approved by Sponsor","emailMessage/Body":"<p class=\"editor-paragraph\">Your change request has been approved and is now open for panel review</p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-family: Arial;\">If any feedback was provided, it will be displayed below.</em></i></p><p class=\"editor-paragraph\">@{items('For_each')?['comments']}</p><br><p class=\"editor-paragraph\"><span style=\"font-size: 12px;\">*</span><span style=\"font-size: 11px;\">No panel review is required for request classified as Standard or DEV Environment.</span></p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_-_If_Standard_or_Dev_Environment":["Succeeded"]},"type":"Foreach"},"Condition_-_If_Standard_or_Dev_Environment":{"actions":{"Update_Status_-_Scheduled":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2","id":"@triggerBody()?['ID']","item/Request_Status/Value":"Scheduled"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Update_Status_-_Open":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2","id":"@triggerBody()?['ID']","item/Request_Status/Value":"Open"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@triggerBody()?['Change_Classification']?['Value']","Standard"]},{"equals":["@triggerBody()?['Change_Classification']?['Value']","Dev Environment"]}]},"type":"If"}},"runAfter":{"Start_and_wait_for_sponsor_approval":["Succeeded"]},"else":{"actions":{"Update_Status_-_Rejected":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2","id":"@triggerBody()?['ID']","item/Request_Status/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('Start_and_wait_for_sponsor_approval')?['body']?['responses']","actions":{"Send_an_email_as_rejected":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{triggerBody()?['Requestor_ID_x003a__x0020_Email']?['Value']};@{triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']}","emailMessage/Subject":"Notification: Change Request (ID:@{triggerBody()?['Request_ID']}) Rejected by Sponsor","emailMessage/Body":"<p class=\"editor-paragraph\"><span style=\"color: rgb(0, 0, 0); font-family: Arial;\">Your change request has been rejected by the sponsor.</span></p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-family: Arial; color: rgb(0, 0, 0);\">If any feedback was provided, it will be displayed below</em></i><i><em class=\"editor-text-italic\" style=\"font-family: Arial; color: rgb(0, 0, 0);\">.</em></i></p><p class=\"editor-paragraph\">@{items('For_each_1')?['comments']}</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Status_-_Rejected":["Succeeded"]},"type":"Foreach"}}},"expression":{"and":[{"equals":["@body('Start_and_wait_for_sponsor_approval')?['outcome']","Approve"]}]},"type":"If"}},"runAfter":{},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerBody()?['Request_Status']?['Value']","At Sponsor"]}]},"type":"If"}},"outputs":{},"description":"Once a request is created in the LU IT Change Management app, the following flow checks if the request status is \"At Sponsor\". Then sends the request for sponsor approval and waits for a response. \n\nUpon receiving approval, the status is updated to \"Open\" or marked as \"Rejected\" if rejected."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-544e8b9c-bfeb-4b28-9012-7a03427aa2e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"b35a708eb68b4a828b737acaf8040e34","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-13dad515-91ce-4b7f-a7f1-4f6d51b69402","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}