Power Automate Flows/ChangeMgmtApplication-CreateCalanderEntry_Flow/Microsoft.Flow/flows/861d27c3-2f0c-4d0f-8de0-50a85153cd5b/definition.json
{"name":"bb11ab27-3183-43bd-8e4f-3732ff65ea16","id":"/providers/Microsoft.Flow/flows/bb11ab27-3183-43bd-8e4f-3732ff65ea16","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ChangeMgmtApplication - Create Calander Entry","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4bbc306b-1a07-4b4e-a1a1-ac54bdac6ae5","type":"User","tenantId":"2ed27e58-4516-4f9c-a797-94374d2e74c7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-08T03:47:37.8666769Z","connectionKeySavedTimeKey":"2024-10-08T03:47:37.8666769Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_Request_is_\"Open\"":{"recurrence":{"frequency":"Minute","interval":1,"timeZone":"New Zealand Standard Time"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"RequestStartDate":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RequestStartDate","type":"string","value":"@triggerBody()?['Request_State_Date']"}]}},"ProcessingStateDenied":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProcessingStateDenied","type":"string","value":"Processing"}]}},"Condition":{"actions":{"Delay_-_1_hour":{"type":"Wait","inputs":{"interval":{"count":1,"unit":"Hour"}}},"Delay_1_hour":{"type":"Wait","inputs":{"interval":{"count":1,"unit":"Hour"}}},"Scope_-_Denied":{"actions":{"Do_until_-_Day_before_requests_start_date_or_state_is_\"Completed\"":{"actions":{"GetRequestDecisionsDenied":{"runAfter":{"Set_Processing_State_-_Processing":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","$filter":"Request_ID eq '@{triggerBody()?['Request_ID']}' and Status eq 'Denied'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_if_denied_exist":{"actions":{"Set_ProcessingStateDeined_-_Completed":{"type":"SetVariable","inputs":{"name":"ProcessingStateDenied","value":"Completed"}},"Send_an_email_-_Rejected":{"runAfter":{"Set_ProcessingStateDeined_-_Completed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']};@{triggerBody()?['Requestor_ID_x003a__x0020_Email']?['Value']}","emailMessage/Subject":"Notification: Change Request (ID:@{triggerBody()?['Request_ID']}) Rejected by Advisory Board Member","emailMessage/Body":"<p class=\"editor-paragraph\"><span style=\"font-family: Arial;\">Please contact the advisory member to request their feedback.</span></p><p class=\"editor-paragraph\"><span style=\"font-family: Arial;\">Additionally, you can view any comments and who rejected the proposal by following the link provided: </span><a href=\"https://apps.powerapps.com/play/e/5277150f-b052-e9a1-adaf-bf0689cdd0c0/a/706e248f-a5a4-4310-bad8-5ba90d99f4dc?requestId=@{triggerBody()?['Request_ID']}\" class=\"editor-link\"><span style=\"font-family: Arial;\">Click here to view your request</span></a></p><br>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Update_Request_Status_-_Rejected":{"runAfter":{"Send_an_email_-_Rejected":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2","id":"@triggerBody()?['ID']","item/Request_Status/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetRequestDecisionsDenied":["Succeeded"]},"else":{"actions":{"Set_ProcessingStateDeined_-_Processing_":{"type":"SetVariable","inputs":{"name":"ProcessingStateDenied","value":"Processing"}},"Delay":{"runAfter":{"Set_ProcessingStateDeined_-_Processing_":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}}}},"expression":{"and":[{"equals":["@equals(length(outputs('GetRequestDecisionsDenied')?['body/value']), 1)\r\n",true]}]},"type":"If"},"Set_Processing_State_-_Processing":{"type":"SetVariable","inputs":{"name":"ProcessingStateDenied","value":"Processing"}},"Delay_-_15_min":{"runAfter":{"Condition_-_Check_if_denied_exist":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}}},"expression":"@or(\r\n    equals(variables('ProcessingStateDenied'), 'Completed'),\r\n    less(utcNow(), addHours(variables('RequestStartDate'), -24))\r\n)\r\n","limit":{"count":180,"timeout":"P5D"},"type":"Until"},"Terminate":{"runAfter":{"Do_until_-_Day_before_requests_start_date_or_state_is_\"Completed\"":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Delay_-_1_hour":["Succeeded"]},"type":"Scope"},"Scope_-_Approved":{"actions":{"Do_until_-_Day_before_requests_startdate_or_state_is_\"Completed\"":{"actions":{"GetRequestDecisionsApproved":{"runAfter":{"Set_ProcessingStateApproved_-Processing":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","$filter":"Request_ID eq '@{triggerBody()?['Request_ID']}' and Status eq 'Approved'\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_if_denied_exist_1":{"actions":{"Set_ProcessingStateApproved_-_Completed":{"type":"SetVariable","inputs":{"name":"ProcessingStateApproved","value":"Completed"}},"Send_an_email_-_Approved":{"runAfter":{"Set_ProcessingStateApproved_-_Completed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']};@{triggerBody()?['Requestor_ID_x003a__x0020_Email']?['Value']}","emailMessage/Subject":"Notification: Change Request (ID:@{triggerBody()?['Request_ID']}) Approved by 3+ Members","emailMessage/Body":"<p class=\"editor-paragraph\"><span style=\"font-family: Arial;\">Your change request has been approved by 3 or more members of the advisory board and will be added to the change calendar.</span></p><p class=\"editor-paragraph\"><span style=\"font-family: Arial;\"><br></span><i><em class=\"editor-text-italic\" style=\"font-family: Arial;\">Please note that if it receives a rejection at any point, it will not proceed.</em></i></p>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Create_request_event_in_shared_calander_":{"runAfter":{"Update_Request_Status_-_Scheduled":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"table":"AAMkADIzMTQwMTFjLThiYjctNGFkNS05YjAxLWQwMmVhNjc3YmZjNgBGAAAAAACdBZA5I5zWR4wQtKRYmUm4BwASoblZ5BZ_QqVWlX91a3aFAAAAAAEGAAASoblZ5BZ_QqVWlX91a3aFAAAB_SMgAAA=","item/subject":"Change Request Due (ID:@{triggerBody()?['Request_ID']}) - @{triggerBody()?['Request_Title']}","item/start":"@variables('RequestStartDate')","item/end":"@variables('RequestEndDate')","item/timeZone":"(UTC+12:00) Auckland, Wellington","item/requiredAttendees":"@{triggerBody()?['Requestor_ID_x003a__x0020_Email']?['Value']};@{triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"V4CalendarPostItem"},"authentication":"@parameters('$authentication')"}},"Update_Request_Status_-_Scheduled":{"runAfter":{"Send_an_email_-_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2","id":"@triggerBody()?['ID']","item/Request_Status/Value":"Scheduled"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetRequestDecisionsApproved":["Succeeded"]},"else":{"actions":{"Set_Processing_State_-_Processing_":{"type":"SetVariable","inputs":{"name":"ProcessingStateApproved","value":"Processing"}},"Delay_":{"runAfter":{"Set_Processing_State_-_Processing_":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}}}},"expression":{"and":[{"equals":["@greaterOrEquals(length(outputs('GetRequestDecisionsApproved')?['body/value']), 3)\r\n",true]}]},"type":"If"},"Set_ProcessingStateApproved_-Processing":{"type":"SetVariable","inputs":{"name":"ProcessingStateApproved","value":"Processing"}},"Delay_-_15":{"runAfter":{"Condition_-_Check_if_denied_exist_1":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}}},"expression":"@or(equals(variables('ProcessingStateApproved'), 'Completed'), equals(variables('ProcessingStateDenied'), 'Completed'))\n","limit":{"count":180,"timeout":"P5D"},"type":"Until"}},"runAfter":{"Delay_1_hour":["Succeeded"]},"type":"Scope"}},"runAfter":{"Compose_-_Calendar_Attachment":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerBody()?['Request_Status']?['Value']","Open"]}]},"type":"If"},"ProcessingStateApproved":{"runAfter":{"ProcessingStateDenied":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProcessingStateApproved","type":"string","value":"Processing"}]}},"Compose_-_Calendar_Attachment":{"runAfter":{"ProcessingStateApproved":["Succeeded"]},"type":"Compose","inputs":"BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//ITS Lincoln University//LU IT Change Advisory Board//EN\nMETHOD:PUBLISH\nBEGIN:VEVENT\nUID:@{triggerBody()?['Request_ID']}\nDTSTAMP:@{formatDateTime(utcNow(), 'yyyyMMddTHHmmssZ')}\nDTSTART:@{formatDateTime(triggerBody()?['Request_State_Date'], 'yyyyMMddTHHmmssZ')}\nDTEND:@{formatDateTime(triggerBody()?['Request_End_Date'], 'yyyyMMddTHHmmssZ')}\nSUMMARY: Change Request Implementation Due: @{triggerBody()?['Request_Title']}\nDESCRIPTION: To view your change request, please follow this link: https://apps.powerapps.com/play/e/5277150f-b052-e9a1-adaf-bf0689cdd0c0/a/706e248f-a5a4-4310-bad8-5ba90d99f4dc?requestId=@{triggerBody()?['Request_ID']}\nEND:VEVENT\nEND:VCALENDAR\n"},"Initialize_variable":{"runAfter":{"RequestStartDate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RequestEndDate","type":"string","value":"@triggerBody()?['Request_End_Date']"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-544e8b9c-bfeb-4b28-9012-7a03427aa2e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-13dad515-91ce-4b7f-a7f1-4f6d51b69402","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365-1":{"connectionName":"shared-office365-34ea3332-13dc-4b03-abb4-bde56cbf200b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}