Power Automate Flows/ChangeMgmtApplication-SendapprovalrequestforallApproverusers_Flow/Microsoft.Flow/flows/a5841ece-debc-4e72-adc8-9a6841d67e97/definition.json
{"name":"1074d448-491b-4ffd-81c6-51eef6bebf2b","id":"/providers/Microsoft.Flow/flows/1074d448-491b-4ffd-81c6-51eef6bebf2b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ChangeMgmtApplication - Send approval request for all \"Approver\" users","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4bbc306b-1a07-4b4e-a1a1-ac54bdac6ae5","type":"User","tenantId":"2ed27e58-4516-4f9c-a797-94374d2e74c7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-08T03:44:21.4561315Z","connectionKeySavedTimeKey":"2024-10-08T03:44:21.4561315Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Get_requests":{"recurrence":{"frequency":"Minute","interval":3,"timeZone":"New Zealand Standard Time"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"6378f81e-565b-4717-88f6-3a4eb406d2c2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition_-_Request_is_\"Open\"_status":{"actions":{"Get_Approvers":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"bb8483b8-f4d9-4f44-8709-7ef9a2582450","$filter":"Role eq 'Approver'\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Scope_-_Approval":{"actions":{"Do_until":{"actions":{"Apply_to_each_-_ApprovalID":{"foreach":"@variables('ApprovalID')","actions":{"Wait_for_an_approval":{"limit":{"timeout":"P30D"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@items('Apply_to_each_-_ApprovalID')?['approvalId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_if_approved":{"actions":{"Check_if_existing_user_approval_returned_is_empty":{"actions":{"Create_approval_entry":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","item/User_ID/Id":"@items('Apply_to_each_-_ApprovalID')?['userId']","item/Request_ID":"@triggerBody()?['Request_ID']","item/Status/Value":"Approved","item/Date":"@utcNow()"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Users_Existing_Approval_For_Request":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(body('Get_Users_Existing_Approval_For_Request')?['value'])",true]}]},"type":"If"},"Get_Users_Existing_Approval_For_Request":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","$filter":"Request_ID eq '@{triggerBody()?['Request_ID']}' and User_ID eq '@{items('Apply_to_each_-_ApprovalID')?['userId']}'\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_-_Approval_outcome_is_not_empty":["Succeeded"]},"else":{"actions":{"Get_Users_Existing_Denial_For_Request":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","$filter":"Request_ID eq '@{triggerBody()?['Request_ID']}' and User_ID eq '@{items('Apply_to_each_-_ApprovalID')?['userId']}'\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Check_if_existing_user_denied_returned_is_empty_":{"actions":{"Create_denied_entry_":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://lincolnuniac.sharepoint.com/sites/ChangeMgmtApplication","table":"c4d84056-ecba-4767-9f46-c7d7edb77de6","item/User_ID/Id":"@items('Apply_to_each_-_ApprovalID')?['userId']","item/Request_ID":"@triggerBody()?['Request_ID']","item/Status/Value":"Denied","item/Date":"@utcNow()"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Users_Existing_Denial_For_Request":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(body('Get_Users_Existing_Denial_For_Request')?['value'])",true]}]},"type":"If"}}},"expression":{"and":[{"equals":["@body('Wait_for_an_approval')?['outcome']","Approve"]}]},"type":"If"},"Condition_-_Approval_outcome_is_not_empty":{"actions":{"Increment_variable_-_VarCompletedApprovals":{"type":"IncrementVariable","inputs":{"name":"VarCompletedApprovals","value":1}}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(body('Wait_for_an_approval')?['outcome']))\r\n",""]}]},"type":"If"}},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":30}}},"Delay":{"runAfter":{"Apply_to_each_-_ApprovalID":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Hour"}}}},"expression":"@or(\r\n    equals(variables('VarCompletedApprovals'), length(variables('ApprovalID'))),\r\n    not(less(utcNow(), variables('RequestStartDate')))\r\n)","limit":{"count":30,"timeout":"P7D"},"type":"Until"},"Terminate_-_After_do_until_condition_":{"runAfter":{"Do_until":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Scope"},"Apply_to_each":{"foreach":"@outputs('Get_Approvers')?['body/value']","actions":{"Create_an_approval":{"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"New change request awaiting your approval\n","ApprovalCreationInput/assignedTo":"@item()?['Email']","ApprovalCreationInput/details":"---\nHi @{item()?['FullName']},  A new change request has been logged and is awaiting your approval.\n---\n\n### Details:\n**Requestor:** @{triggerBody()?['Requestor_ID_x003a__x0020_FullNa']?['Value']}\n**Sponsor:** @{triggerBody()?['Sponsor_ID_x003a__x0020_Email']?['Value']}\n**Change Classification:** @{triggerBody()?['Change_Classification']?['Value']}\n**Impact Level:** @{triggerBody()?['Impact_Level']?['Value']}\n**Affected Services:** @{triggerBody()?['Affected_Services']?['Value']}\n**Change Reason:** @{triggerBody()?['Change_Reason']?['Value']}\n\n**Title:** \n@{triggerBody()?['Request_Title']}\n\n**Justification:** \n@{triggerBody()?['Request_Justification']}\n\n### Change Readiness:\n**Test Plan:** \n@{triggerBody()?['Test_Plan']}\n\n**Rollback Plan:** \n@{triggerBody()?['Rollback_Plan']}\n\n**Attachment URL:** \n@{triggerBody()?['Attachment_URL']}\n\n*Please review and take action by selecting one of the options below. To view the full request, click the link provided.*","ApprovalCreationInput/itemLink":"https://apps.powerapps.com/play/e/5277150f-b052-e9a1-adaf-bf0689cdd0c0/a/706e248f-a5a4-4310-bad8-5ba90d99f4dc?requestId=@{triggerBody()?['Request_ID']}\n","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"Append_to_ApprovalID":{"runAfter":{"Create_an_approval":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ApprovalID","value":"@json(concat('{\"approvalId\":\"', body('Create_an_approval')?['name'], '\", \"userId\":\"', items('Apply_to_each')?['ID'], '\"}'))\r\n"}}},"runAfter":{"Get_Approvers":["Succeeded"]},"type":"Foreach"}},"runAfter":{"VarCompletedApprovals":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerBody()?['Request_Status']?['Value']","Open"]},{"not":{"equals":["@triggerBody()?['Change_Classification']?['Value']","Standard"]}},{"not":{"equals":["@triggerBody()?['Change_Classification']","DEV Environment"]}}]},"type":"If"},"RequestStartDate":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RequestStartDate","type":"string","value":"@triggerBody()?['Request_State_Date']"}]}},"ApprovalID":{"runAfter":{"RequestStartDate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalID","type":"array","value":[]}]}},"VarCompletedApprovals":{"runAfter":{"ApprovalID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarCompletedApprovals","type":"integer","value":0}]}}},"outputs":{},"description":"Once a request is approved by sponsor, the following flow checks if the request status is \"Open\". Then sends the request to all board members and waits for a response. Upon receiving response, the response is created as an item in Approval SharePoint list."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-544e8b9c-bfeb-4b28-9012-7a03427aa2e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"b35a708eb68b4a828b737acaf8040e34","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}